language: php

cache:
    directories:
        - vendor
        - $HOME/.composer/cache/files

install:
    - travis_retry composer install

      #script:
      #    - ./vendor/bin/phpunit
      #
jobs:
    fast_finish: true
    include:
        - php: 7.2
        - php: 7.3
        - php: 7.4
