<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--base href="http://192.168.43.1:8080/" target="_self"-->
        <base href="http://127.0.0.1:8080/" target="_self">
        {{ assets({files:['assets/papercss/dist/paper.min.css']}) }}
        <title>{{ title }}</title>
    </head>
    <nav class="border fixed split-nav">
        <div class="nav-brand">
            <h3><a href="{{ links.home }}">Home</a></h3>
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <button>
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
            </button>
            <div class="collapsible-body">
                <ul class="inline">
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
