{% include 'header.html.twig' %}
<body>
    <div class="paper container">
        {% block container %}
        <div class="row flex-spaces child-border">
            <img src="https://unsplash.it/900">
            <h1>{{ intro }}</h1>
            <button onclick="href('blog')">{{ button }}</button>
        </div>
        {% endblock %}
    </div>
</body>
{% include 'footer.html.twig' %}
